# Cuéntame ICBF
CUENTAME_USUARIO=SAAD.PAEZG
CUENTAME_PASSWORD=tu_contraseña_cuentame

# Gmail (App Password para leer código 2FA)
GMAIL_USER=saad.paez@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

# Ruta al Excel con los jardines
RUTA_EXCEL=G:\Mi unidad\CUENTAME\0 GENERAL\GENERAL.xlsx
